body * {
    text-align: center;
}

h1 {
    background-color: lightgreen;
    text-align: center;
    font-size: 52px;
    color: blue;
    font-family: "Brush Script MT", cursive, serif;
}

h2 {
    background-color: lightgreen;
    color: blue;
    font-family: "Garamond", serif;
    font-size: 32px;
}

p,
ol,
ul {
    background-color: lightblue;
    color: darkgreen;
    font-size: 24px;
}